[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.100.0"
httpx = "~=0.24.0"
pydantic-settings = "*"
authlib = "~=1.2.0"
itsdangerous = "~=2.1.0" # for starlette SessionMiddleware

[dev-packages]
uvicorn = "~=0.23.0"
isort = "~=5.12.0"

[requires]
python_version = "3.10"
