[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
pydantic-settings = "*"
authlib = "*"
itsdangerous = "*"

[dev-packages]
uvicorn = "*"
isort = "*"

[requires]
python_version = "3.10"
